nav .brand-logo {
    padding: 2px;
    height: 100%;
}

.brand-logo img {
    height: 100%;
    object-fit: contain;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: 'Oswald';
}

#home h1 {
    font-size: 8em;
}