nav .brand-logo {
    padding: 2px;
    height: 100%;
}

.brand-logo img {
    height: 100%;
    object-fit: contain;
}

@media only screen and (min-width: 601px) {
    .brand-title h3 {
        margin: 0;
        padding: 6px;
        height: 100%;
        object-fit: contain;
        margin-left: 64px;
        display: inline-block;
    }
}

@media only screen and (max-width: 600px) {
    .brand-title h3 {
        display: none;
    }
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: 'Oswald';
}

body > .container {
    min-height: calc(100vh - 92px);
}

#home h1 {
    font-size: 8em;
}